.cropBox {
    border: 3px solid green;
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0.8;
    cursor: move;
}
.hover .cropBox-close{
    display: inline-block;
}
.cropBox-close {
    background: url(../image/panel_tools.png) no-repeat -16px 0px;
    display: none;
    width: 16px;
    height: 16px;
    float: right;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: 6px 6px 0 0;
    vertical-align: top;
}
.cropBox-close:hover {
    opacity: 1;
}