
#tbFile, #tbFile tr th, #tbFile tr td {
    border: 1px solid #959b9e;
}
#tbFile tr th {
    text-align: center;
}
#tbFile tr.active {
    background-color: #b9def0;
}
#tbFile tr th:first-child {
    width: 125px;
}
#tbFile tr th:last-child {
    width: 100px;
}
#tbFile a {
    background-color: #2cc368;
    color: #fff;
    border-color: #4cae4c;
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 6px;
    text-decoration: none;
    cursor: pointer;
}
#tbFile {
    width: 100%;
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
    font-size: 14px;
    margin-top: 5px;
    word-break: break-all;
}


.hover .divZoneType{
    display: inline-block;
}
.divZoneType {
    width: 250px;
    color: #FF0000;
    display: none;
}
.zoneType {
    width: 140px;
}