html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.fullTable {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.left {
    width: 300px;
    border: 1px solid #000;
}
.middle {
    height: 500px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    text-align: center;
}
.right {
    width: 300px;
    border: 1px solid #000;
}
.bottom {
    width: 100%;
    min-height: 100px;
    font-size: 12px;
    border-bottom: 1px solid #000;
}

.left-one {
    height: 85px;
}

.left-one-left {
    float: left;
    width: 35%;
    margin: 5px 5px 0 15px;
}

.left-one-left img {
    width: 80%;
}

.left-one-right {
    float: left;
    width: 55%;
    margin: 30px 0 0 0;
    min-height: 67px;
    font-size: 24px;
}

.left-one-right select {
    width: 160px;
    height: 25px;
    margin-top: 3px;
}

.left-two {
    height: 320px;
}

.left-two-lable {
    width: 155px;
    height: 30px;
    margin: 3px 3px 0px 3px;
    display: inline-block;
    text-align: right;
}

.left-two-lable-set {
    width: 35%;
    height: 30px;
    text-align: center;
    margin: 3px 3px 0px 3px;
    display: inline-block;
}

.left-two-select {
    width: 115px;
    height: 30px;
    margin: 3px 3px 3px 3px;
}

#bottom-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    height: 100%;
}

#vertical-line {
    position: absolute;
    height: 500px;
    left: 400px;
    top: 4px;
    border-right: 3px solid green;
    z-index: 999;
}

#fileList {
    width: 290px;
    height: 255px;
}

#autoCaptureProgress {
    width: 100px;
}

#clearImage {
    float: right;
    margin-top: 10px;
}

#td4 div {
    float: left;
    width: 50%;
    vertical-align: top;
    text-align: center;
}
#btnCaptureBook {
    width: 80px;
    height: 30px;
    font-size: 16px;
}
#imgL, #imgR {
    padding: 2px;
    width: 250px;
}

#tbFile, #tbFile tr th, #tbFile tr td {
    border: 1px solid #959b9e;
}
#tbFile a {
    background-color: #2cc368;
    color: #fff;
    border-color: #4cae4c;
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 6px;
    text-decoration: none;
    cursor: pointer;
}
#tbFile {
    width: 298px;
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
    font-size: 14px;
}

#divView {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1999;
    background-color: lightgray;
}
#divView div {
    float: right;
}
